<header id="header">
    <a href="{{ '/' | relative_url }}" id="header-logo">DOPPIE<em style="font-style:italic;font-weight:400;">.</em></a>
    <div></div>
    <div id="header-right">
        <div id="header-menu">
            <a href="{{ '/chi-siamo' | relative_url }}">Chi Siamo</a>
            <a href="{{ '/mostre' | relative_url }}">Mostre</a>
            <a href="{{ '/calendario' | relative_url }}">Calendario</a>
        </div>
        <div id="header-time">Milano <span id="clock">--:--</span></div>
        <a href="{{ '/contatti' | relative_url }}"><button id="header-contact">Contact</button></a>
    </div>
</header>
